[submodule "neovim/.local/share/nvim/site/pack/go/start/vim-go"]
	path = neovim/.local/share/nvim/site/pack/go/start/vim-go
	url = git@github.com:fatih/vim-go
	branch = v1.25
[submodule "neovim/.local/share/nvim/site/pack/gnupg/start/vim-gnupg"]
	path = neovim/.local/share/nvim/site/pack/gnupg/start/vim-gnupg
	url = git@github.com:jamessan/vim-gnupg
	branch = master
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh
	branch = master
